.card-stack{
	position: relative;
	width: 80%;
	left: 10%;
}

.card{
	display: inline-block;
	border-radius: 7px;
	text-align: justify;


	@include mQ(600px){
		width: 50%;
	}

	.card-img-top{
    	box-shadow: $liteShadow;
    	width: 100%;
	}

	
	.card-block {

	}	
}

.cardLeft{
	
	@include mQ(600px){
		left: 24%;
	}

}

.cardCenter{
	
	@include mQ(600px){
		left: 24%;
	}

}

.cardRight{
	
	@include mQ(600px){
		left: 24%;
	}

}


.card-img-wrapper {
	position: relative;
	width: 90%;
	left: 5%;
}

.cardInfo {
	position: relative;
	height: 20vh;
	width : 100%;
	background-color: $washedBlue;

}

.clickable {
	position: relative;
    cursor: pointer;
    display: inline-block;
    width: (100% / 3);
}

.text-container {
	width: 90%;
	height: 100%;
    left: 5%;
    position: absolute;
}

.info-container {
	position: relative;
	width: 90%;
    left: 5%;
}