.contactBox {
	position: relative;
    width: 80%;
    height: 40vh;
    left: 10%;
    top: 10vh;
    //background-color: blue;
    border-radius: 30px;

}

.contactSvg {
	height: 100%;
    width: 33.33%;
    position: absolute;
}

#contactLeft {
	left: 0;
}

#contactCenter {
	left: (100% - (33.33% * 2))
}

#contactRight {
	left: (100% - (33.33%))
}

.svg-container {
	position:relative;


}

.contactSvgIcon {
	position: absolute;
	width: 70%;
	left: 15%;
	height: 70%;
	top: 15%; 
	cursor: pointer;
	
	-webkit-filter: drop-shadow( 0px 6px 20px #000  );
            filter: drop-shadow( 0px 6px 20px #000  );

	path {
		fill: #eee;
	}

	&:hover{
		path {
			fill: #000;
		}
		
	}

}

.titleSvg {
	position: relative;
	top: 85%;

	h3 {
		font-size: 30px;
	}
}