$navSize: 20px;
$mainFont: 'Pontano Sans', sans-serif;

$linkColor: #a9a9a9;

p{
	font-size: 1vw;
}

h1 {
	font-size: 2vw;
}

h2 {
	font-size: 1.75vw;
}

h3 {
	font-size: 1.5vw;
}

.display-1 {
	font-size: 60px;
}

.card-title {
	
		
		text-align: center;
		margin: 2%;
	
}