$navSize: 20px;
$mainFont: 'Pontano Sans', sans-serif;

$linkColor: #a9a9a9;

p{
	font-size: 20px;
}

.display-1 {
	font-size: 60px;
}

.card-title {
	
		font-size: 25px;
		text-align: center;
		margin: 2%;
	
}