#part1 {
	z-index: 1;
}

#part2 {
	z-index: 2;
}

#part3 {
	z-index: 3;
}

#part4 {
	z-index: 4;
}

.part{
	position: absolute;
	top:0;
	width: 80%;
	left: 10%;
}

.startAnimation {
	position: absolute;
    width: 100%;
    left: 0%;
	top: 20%;
}

.home-container {
	position: relative;
	width: 100%;
}

.bottom-80 {
	top: 80%;
	position: absolute;
	left: 75%;
}