#main-nav {
	background-color: $oceanBlue;
	position: fixed;
	z-index: 99;
	top: 0;
	width: 100%;
	box-shadow: $liteShadow;

	.wrapper {
		width: 100%;
		position: relative;
	}

	a {
		width: (100% / 3);
	    text-decoration: none;
	    text-align: center;
	    display:inline-block;
	    color: $linkColor;
	    font-size: $navSize;
	    padding: 15px 0;

	    @include mQ(300px){
	    	width:100%;
	    }

	    &:hover{
	    	background-color: darken($oceanBlue, 5)
	    }
	}
}