$oceanBlue: #19425f;

$badBlue: #0f8bad;

$snowWhite: #efefef;

$darkBlue: #424b7c;

$liteShadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 6px 20px 0 rgba(0,0,0,0.19);

$hardShadow: 0 6px 8px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.4);

$insetShadow: inset 0px 0px 61px 1px rgba(0,0,0,0.75);

$cardWidth: 30%;

$childCardWidth: ($cardWidth*0.6);

$washedBlue: #87a7a7;